:host {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primary-color: rgba(253, 241, 235, 1);  
  --second-color: rgba(204, 204, 204, 1);
  --third-color: rgba(237, 120, 57, 1);
  --gradient-color: linear-gradient(rgba(255, 179, 84, 1), rgba(238, 122, 58, 1));
}
*{
  padding: 0;
  margin: 0;
}
html, body {
  font-family: Roboto;
  height: 100%;
  padding: 0;
  margin: 0;
}
header{
  width: 220px;
  height: 100vh;
  position: fixed;
}
main,
footer{
  margin-left: 220px;
  box-shadow: inset 16px 0px 15px -3px rgba(0,0,0,0.1);

}

h2{
  font-size: 3rem;
  font-size: 20px;
  font-weight: 900;
  line-height: 25px;
  letter-spacing: 0.05em;
  text-align: left;

}
h3{
  font-size: 1.5rem;
  font-weight: 400;
}
h4{
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.09px;

}
a{
  text-decoration: none;
  color: black;
}

ul, li{
  list-style: none;
  padding: 0;
}


#textsidebar{
  width: 220px;
  height: 68px;
  background-image: linear-gradient(rgba(255, 179, 84, 1), rgba(238, 122, 58, 1));
  display: flex;
  justify-content: center; 
  align-items: center;
}

#textsidebar h2 {
  margin-top: 0; 
  color: white;
  margin: 0;
}

#imgsidebar img{
  width: 220px;
  height: 258px;
}

#navsidebar li{
  width: 220px;
  height: 33px;
  border-bottom: 2px solid rgba(231, 231, 231, 1);
  padding: 0;
  display: flex;
  align-items: center;
  padding-left: 24px;
  box-sizing: border-box;
}

.selectmenu{
  background-color: var(--primary-color);
}
#headpage{
  display: flex;
  justify-content: space-between;
  padding: 0 36px;
  align-items: center;
  background-color: var(--primary-color);
  gap: 20px;
}
#legend{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  gap: 5px;
  padding: 5px;
  border: 1px solid var(--second-color);
}
.textlegend{
  display: flex;
  align-items: center;
}
.icon svg{
  width: 22px;
  height: 22px;
  display: flex;
  align-content: center;
}
#profileinfo{
  display: flex;
  justify-content: center;
  align-items: center;
}
#info{
  text-align: end;
  padding-right: 10px;
}
#profilepicture img{
  width: 30px;
  height: 30px;
  gap: 10px;
  border-radius: 50px;
}
#container{
  margin-left: 40px; 
}

#mainconteiner{
  display: flex;
  justify-content: space-between;
  padding: 40px;
}
#titleconteiner{
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  max-width: 800px;
}
#textconteiner h2{
  color: var(--third-color);
}
#youtube img{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 784px;
  height: 439px;  
}
#mainoption{
  display: flex;
  flex-direction: column;
}
#option{
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
}
.iconoption{
  background-color: var(--third-color);
}
.downloadicon{
  display: flex;
  gap: 7px;
  padding: 5px 10px;
  border-radius: 5px;
}
.downloadicon svg{
  width: 19px;
}
.downloadicon span{
  color: white;
}
.staricon{
  width: 19px;
  padding: 5px 10px;
  border-radius: 5px;
}
.doiicon{
  width: 19px;
  padding: 5px 10px;
  border-radius: 5px;
}
#mainoption h4{
  font-family: Roboto;
  font-size: 1rem;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0.05em;
  text-align: right;
  color: var(--third-color);
  padding: 8px 0;
}
#infoauthor{
  max-width: 250px;
  max-height: 440px;

}
#titleinfo h3{
  background-color: var(--primary-color);
  padding: 5px 10px;
  border: 1px solid var(--second-color);
  font-size: 1.5rem;
  font-weight: 400;
  text-align: left;
  border-radius: 10px 10px 0 0;
}
#textinfo{
  border: 1px solid var(--second-color);
  padding: 10px;
  border-radius: 0 0 10px 10px;
}

#textmain p, #reference span{
  font-family: Quicksand;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-align: left;
}
#textmain{
  padding-bottom: 40px;
}
#presentation{
  padding-bottom: 25px;
}
#reference span{
  color: var(--second-color);
}
#summary{
  border: 1px solid var(--second-color);
  border-radius: 5px;
  width: 1058px;
  margin-left: 40px;
}
#summary #title h3{
  padding: 10px 20px;
  background-color: var(--primary-color);
  border-radius: 5px 5px 0 0;
}
#summary #text{
  padding: 16px;
  color: rgba(92, 92, 92, 1);
  font-family: Quicksand;
  font-size: 14px;
  font-weight: 400;
  line-height: 22.75px;
  letter-spacing: 0.02em;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
#more{
  display: none;
}
#questions{
  margin-top: 30px;
  border: 1px solid var(--second-color);
  border-radius: 5px;
  width: 1058px;
  margin-left: 40px;
}
#questions #title h3{
  background-color: var(--primary-color);
  border-radius: 5px 5px 0 0;
  padding: 10px 20px;
}
#questions #info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0 20px 0;
  gap: 20px;
}
#questions #caption h4{
  color: var(--third-color);
}
#questions #icon{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
#questions svg{
  width: 40px;
}
#questions #paragraph p{
  color: rgba(89, 89, 89, 1);
  max-width: 600px;
  text-align: center;
}
#questions .btn-create-topic{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-image: var(--gradient-color) ;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  gap: 5px;
}
#questions .btn-create-topic svg{
  max-width: 20px;
  vertical-align: middle;
}
#comment .content{
  margin: 15px;
  border: 1px solid var(--second-color);
  border-radius: 5px;
  padding: 17px 25px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12);

}
#comment .title h4{
  font-family: Quicksand;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  color: var(--third-color);
}
#comment .author{
  font-family: Quicksand;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  text-align: left;
  color: rgba(92, 92, 92, 1);
}
#comment .text p{
  margin: 10px 0 11px 0;
  font-family: Quicksand;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.5px;
  text-align: left;
}
#comment .option{
  display: flex;
  gap: 15px;
}
#comment .option svg{
  width: 20px;
}
#comment .option .contlike,
#comment .option .reply{
  font-family: Segoe UI;
  font-size: 14px;
  font-weight: 350;
  line-height: 18.62px;
  text-align: left;
  color: rgba(117, 117, 117, 1);
}
footer{
  display: flex;
  align-items: center;
  max-width: 1000px;
  padding: 50px 0 0 60px;
}
footer #text{
  display: flex;
  flex-direction: column;
  gap: 10px;
}